.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    background: rgb(70, 70, 70);
}

.nav li a {
    display: block;
    color: yellow;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.nav li a:hover {
    background-color: #a89d03;
    color: white !important;
}